<!DOCTYPE html>
<html lang="en">
</html>
    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/success.css') }}">
    </head>
   <body>
       <h1>¡Gracias por cargar tu prenda!</h1>
       <section class = "main-section"> 
            <div class= "img-div">
            </div>
            <div class="p-div">
                <img alt="like" src="https://i.pinimg.com/originals/c0/d2/16/c0d21611b7e1ef0bf8486900301822a4.png">
                <p>Seguinos en redes</p>
            </div>
       </section>
   </body>
</html>